Package: com.yourname.lubv
Name: LUBV
Version: 1.0.0
Architecture: iphoneos-arm
Description: Among Us tweak
Maintainer: Your Name
Author: Your Name
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
